#banner {
    background: url("Images/himmel.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Lobster', cursive;
    color: white;
    text-align: center;
 }

 body{
    margin-top: 80px;
    background-color: #ebf1f1;
 }
 .display-3{
    font-family: 'Lobster', cursive;
    color: rgb(58, 119, 231);
 }

 .navbar{
    font-family: 'Lobster', cursive;
 }

 img{
   border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px
 }

 p{
    font-family: 'Lobster', cursive;
 }

 h4{
   font-family: 'Lobster', cursive;
 }